.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tar.gz
*\.Rcheck
build_docs.sh
CRAN-RELEASE
cran-comments.md
*.Rproj
README.html
.vscode/
flicker.code-workspace
docs
inst/doc
logs/
derby.log
.Renviron
pkgdown
